<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Tên" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email,"Quê Quán" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :lop,"Lớp Học" %><br>
    <%= f.text_field :lop %>
  </div>
 <div class="field">
    <%= f.label :so,"Điểm TB" %><br>
    <%= f.text_field :so %>
  </div>
   

  <div class="actions">
    <%= f.submit "Tạo Hồ Sơ" %>
  
</div>
<% end %>
