<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Quê Quán</th>
      <th>Lớp Học</th>
      <th>Điểm TB</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @user.name %></td>
      <td> <a href="https://www.google.com/maps" target="blank"><%= @user.email %>
  </a></td>
  <td><%= @user.lop %></td>
  <td> <%= @user.so %>
   <a href="http://daotao.vnu.edu.vn/dkmh/login.asp" target="blank"> Xem</a></td>
  
    </tr>
  </tbody>
</table>
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_user_path(@user) %> </button>

<button type="button" class="btn btn-primary"><%= link_to 'Back', users_path %></button>
